@import "css/reset.css";
@import "css/normalize.css";

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
	font: normal 14px 'Montserrat', Arial, ;
	color:red;
	background:yellow;
}

.wrap{
	width: 400px;
	margin: 0 auto;
}

.task-list{
	width: 88px;
	min-height: 200px;
	background: blue;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6px;
}